.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/

# Unnecessary obsidian files on 2026-09-15 
**/.obsidian/workspace.json
**/.obsidian/workspace-mobile.json
**/.trash/